- var docPath = ""

mixin Menu()
    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-header
            a.navbar-brand(href="#")= 'Documentation'
        ul.nav.navbar-nav
            li.dropdown: each entry in locals.menu
                a.dropdown-toggle(href="#",data-toggle="dropdown")= entry.title
                    span.caret
                ul.dropdown-menu: each child in entry.children || []
                    li: a(href=child.output_path)= child.title
            //li.dropdown
            //    a.dropdown-toggle(href="#",data-toggle="dropdown")= 'Docs fonctionnelles'
            //        span.caret
            //    ul.dropdown-menu
            //        li.dropdown-header Le catalogue
            //        li: a(href=docPath + "/catalog/under-the-hood.html")= 'Sous le capot du catalogue'
            //li.dropdown
            //    a.dropdown-toggle(href="#", data-toggle="dropdown")= 'Docs techniques'
            //        span.caret
            //    ul.dropdown-menu
            //        li: a(href=docPath + "/technical/how-to-write-API-doc.html")= 'Comment écrire la documentation des API'
            //        li: a(href=docPath + "/technical/api-security.html")= 'Sécurité de l\'API'